<meta name="referrer" content="no-referrer" />
<link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
<div class="navbar navbar-inverse navbar-fixed-top clearfix">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-sm" href="/">主页</a>
    </div>
    <div class="navbar-collapse collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="<%- (title=='home')?'active':'' %>"><a href="/home" target="_blank">电影管理系统</a></li>
        <li class="<%- title=='login'?'active':'' %>"><a href="/login" target="_blank">登录</a></li>
        <li class="<%- title=='rigistry'?'active':'' %>"><a href="/rigistry" target="_blank">注册</a></li>
        <li class="<%- title=='list'?'active':'' %>"><a href="/list" target="_blank">电影列表</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-sm">
        <li class="<%- title=='my'?'active':'' %>"><a href="/my">个人中心</a></li>
      </ul>
    </div>
  </div>
</div>
<style>
    body{
      padding-top:70px;
  }
</style>