<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include("head",{title:"list"}) %>
  <div class="container-fluid container">
    <div class="row">
      <div class="col-md-4 form-group" style="display: flex;">
        <input type="text" class="form-control" id="search" placeholder="请输入关键字">
        <button class="btn btn-primary" onclick="search()">搜索</button>
      </div>
      <div class="col-md-4 form-group" style="display: flex;">
        <button class="btn btn-success" style="margin-right:5px" onclick="location.href=`/list?rating.average=1`">评分升序</button>
        <button class="btn btn-danger" style="margin-right:5px" onclick="location.href=`/list?rating.average=-1`">评分降序</button>
        <button class="btn btn-success" style="margin-right:5px" onclick="location.href=`/list?year=1`">时间升序</button>
        <button class="btn btn-danger" style="margin-right:5px" onclick="location.href=`/list?year=-1`">时间降序</button>
      </div>
    </div>
    <div class="row">
      <h2 class="text-primary">电影列表</h2>
     <% result.forEach((value,index)=>{ %>
      <a href="/comment/detail?mid=<%- value.id %>">
        <div class="col-md-3 col-sm-3 col-lg-3" style="height:360px">
          <img style="display:block;width:100%;height:220px" src="<%- value.images.large.replace(/img7/,'img3') %>" alt="">
          <div class="caption clearfix">
            <h4 class="text-primary pull-right"><%- value.year %></h4>
            <h4 class="text-danger"><%- value.title %></h4>
            <p class="text-success"> 评分: <%- value.rating.average %></p>
            <p class="text-info"> 导演: <%- value.directors[0].name %></p>
            <p class="text-warning"> 分类: <%- value.genres %></p>
          </div>
        </div>
      </a>
    <% }) %>
    </div>
  </div>
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
    function search(){
      return location.href=`/list?keywords=${$('#search').val()}`
    }
  </script>
</body>
</html>